body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
  }
#mySidenav1{
  background-image: url('blackboard.png');
  background-repeat: no-repeat;
  background-size: 570px 700px;
}
#mySidenav3{
  background-image: url('blackboard.png');
  background-repeat: no-repeat;
  background-size: 470px 700px;
  margin : 2px;
  padding: 2px;
  border: 2px;
}

.blackboard{
  margin-left: 30px;
  margin-right: 22px;
}
  .sidenav {  
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    color : #818181;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .present-somwre {

    display:inline-block;
    color: yellow;
    width : 60px;
    font-size: 26px;
    cursor: pointer;
    height: 40px;
    align-items: center;
  }

  .present-here {
    display:inline-block;
    color : blue;
    width : 60px;
    font-size: 26px;
    height: 40px;
    
    text-align: center;
  }
  .present-somwre  :hover{
    color: white;
    
    text-align: center;
  }

  .not-present-here {
    display:inline-block;
    color : red;
    width : 60px;
    font-size: 26px;
    height: 40px;
    text-align: center;
    align-items: center;
  }
  .notes_row {
    display:inline-block;
    width : 310px;
    text-align: center;
    align-items: center;
  }
#FTK{
  color: yellowgreen;
  align-items: center;

}
#rules-option{
  background-color: rgb(49, 213, 213);
  border-radius: 2px;
}
#rules-option :hover{
  color: navy;
}
#Notes-option{
  background-color: rgb(255, 81, 81);
  border-radius: 2px;
}
  
  #notes__board {
    margin-left: 20px;
    margin-right: 50px;
    padding: 0px;
    border: 0px;
    margin-top: 0px;
    cursor: pointer;
    text-align: center;
    align-items: center;
  }